.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: 150px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #121212;
    overflow: hidden;
    opacity: 0.5;
    width: 100%;
    height: 0;
    transition: .3s ease;
}

.container:hover .overlay {
    height: 50%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}