{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
    {{ tag.name|title }} - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="card border-primary mb-3" style="margin: 10% 10% auto;">
    <form  method="get">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    {% render_field  filter.form.title  class="form-control" placeholder='Напишите что-нибудь' autocomplete='off' list='abc' style="margin-left: 5%"%}
                                    <div class="input-group-append" style="margin-right: 5%">
                                        <button class="btn btn-outline-primary  col-sm-0"  type="submit"><i
                                                class="fa fa-search"></i> Поиск
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
    {% include 'pagination.html' %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"><i> Все статьи под тегом - {{ tag.name }}</i></th>
                <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> Время:</th>
                <th scope="col"><i class="fa fa-tags" aria-hidden="true"></i> Теги:</th>
            </tr>
            </thead>
            {% for post in posts %}
                <tbody>
                <tr class="table-light">

                    <th scope="row"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title|capfirst }}</a></th>
                    <td>{{ post.published_date }}</td>
                    <td>{% for tags in post.tags.all %}
                        <a class="badge badge-pill badge-primary" href="{% url 'post_by_tag' tags.slug %}">
                        <i class="fa fa-tag" aria-hidden="true"></i> {{ tags.name }} {% if not forloop.last %}
                        {% endif %}{% endfor %}
                        </a></td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    {% include 'pagination.html' %}
    </div>
{% endblock %}